{
  "swagger": "2.0",
  "info": {
    "title": "Fourth Zendesk MCP",
    "description": "Zendesk MCP Server developed by Fourth — tickets, articles, search, and release notes",
    "version": "2.0.0"
  },
  "host": "fourth-zendesk-mcp-server.bluewave-95f931ef.northeurope.azurecontainerapps.io",
  "basePath": "/",
  "schemes": ["https"],
  "paths": {
    "/mcp": {
      "post": {
        "parameters": [
          {
            "name": "zendesk-subdomain",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Optional per-request Zendesk subdomain, for example: fourthsandbox"
          },
          {
            "name": "zendesk-base-url",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Optional per-request Zendesk base URL, for example: https://fourthsandbox.zendesk.com"
          },
          {
            "name": "zendesk-environment",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Environment: 'dev' for sandbox, 'prod' for production (default: prod)"
          }
        ],
        "responses": {
          "200": { "description": "Immediate Response" }
        },
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "operationId": "InvokeServer",
        "summary": "Fourth Zendesk MCP",
        "description": "Zendesk MCP Server developed by Fourth — tickets, articles, search, and release notes"
      }
    }
  },
  "securityDefinitions": {
    "zendesk_oauth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://hotschedules.zendesk.com/oauth/authorizations/new",
      "tokenUrl": "https://hotschedules.zendesk.com/oauth/tokens",
      "scopes": {
        "read": "Read access to Zendesk resources",
        "write": "Write access to Zendesk resources"
      }
    }
  },
  "security": [{ "zendesk_oauth": ["read", "write"] }]
}
